.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination > li {
    border: 2px solid #37404a;
    list-style-type: none;
    padding: 15px;
    border-radius: 15px;
    margin: 10px 5px;
}

.pagination > li:hover {
    color: #fff;
    background-color: #37404a;
    cursor: pointer;
}

.pagination > li > a {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.selected {
    border: 2px solid cadetblue;
    background-color: #37404a;
    color: #fff;
}

@media (max-width: 430px) {
    .pagination {
        padding: 0;
    }
}